@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,300&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}
#menu {
    background-color: black;
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
    display: flex;
    /* justify-content: left; */
    flex-direction: column;
    position: fixed;
    top: 0;
}
nav {
	margin: auto;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: start;
}
#menu a, li {
    /*float: left;*/
    color: white;
    margin: auto 20px;
    text-decoration-line: none;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* dropdown */
  
li.dropdown {
display: inline-block;
}
  
.dropdown-content {
display: none;
position: absolute;
background-color: black;
min-width: 160px;
z-index: 1;
}
  
.dropdown-content a {
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: center;
}

.dropdown-content a:hover {background-color:gray;}

.dropdown:hover .dropdown-content {
display: block;
}
/* dropdown */

#promo {
    margin-top: 100px;
    width: 100%;
    height: 300px; 
}
#logo {
    width: 70px;
    height: 70px;
}
.box {
    /* background-color: hotpink; */
    width: 80%;
    height: 300px;
    margin: 50px auto 0px auto;
    text-align: justify;
}
.box-title {
    background-color: black;
    text-align: center;
    margin: 0px auto 10px auto;
    height: 50px;
    width: 100%;
    padding: 1px;
}
.box-title p {
    color: white;
}
.card {
    /* background-color: green; */
    width: 20%;
    height: 200px;
    margin: 10px auto auto 40px;
    display: inline-block;
    border: 1px solid black;
}
.card-title {
    border: solid 1px black;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 3px;
}
.card-image {
    border: solid 1px black;
    width: 100%;
    height: 140px;
    bottom: 1;
}
.card-price {
    border: solid 1px black;
    width: 100%;
    height: 30px;
    bottom: 1;
    text-align: center;
    padding: 3px;
}
.card-image {
    text-align: center;
}
.card-image img{
    /* width: 100%; */
    height: 100%;
    /* margin-left: 10px;
    margin-right: auto; */
    text-align: center;
}
@media only screen and (max-width: 1040px) {
    .card {
        /* background-color: green; */
        width: 20%;
        height: 200px;
        margin: 10px 10px 10px 25px;
        display: inline-block;
        border: 1px solid black;
    }
}
@media only screen and (max-width: 915px) {
    .card {
        /* background-color: green; */
        width: 20%;
        height: 200px;
        margin: 10px 10px 10px 20px;
        display: inline-block;
        border: 1px solid black;
    }
    #menu a, li {
        /*float: left;*/
        color: white;
        margin-left: 10px;
        text-decoration-line: none;
      }
}
@media only screen and (max-width: 824px) {
    .card {
        /* background-color: green; */
        width: 20%;
        height: 200px;
        margin: 10px 10px 10px 20px;
        display: inline-block;
        border: 1px solid black;
    }
    #menu a, li {
        /*float: left;*/
        color: white;
        margin-left: 10px;
        text-decoration-line: none;
      }
}
@media only screen and (max-width: 792px) {
    #menu a, li {
        /*float: left;*/
        color: white;
        margin-left: 10px;
        text-decoration-line: none;
    }
    .card {
        /* background-color: green; */
        width: 200px;
        height: 40%;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-right: 40px;
        display: inline-block;
        border: 1px solid black;
        /* float: left; */
    }
    .box {
        /* background-color: hotpink; */
        width: 80%;
        height: 500px;
        margin: 50px auto 0px auto;
        text-align: justify;
    }
}
@media only screen and (max-width: 759px) {
    #menu a, li {
        /*float: left;*/
        color: white;
        margin-left: 0px;
        text-decoration-line: none;
    }
    .card {
        /* background-color: green; */
        width: 200px;
        height: 40%;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 50px;
        margin-right: 20px;
        display: inline-block;
        border: 1px solid black;
        /* float: left; */
    }
    .box {
        /* background-color: hotpink; */
        width: 80%;
        height: 500px;
        margin: 50px auto 0px auto;
        text-align: justify;
    }
}
@media only screen and (max-width: 692px) {
    #menu {
        /* display: block; */
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #menu li {
        position: static;
        /* float: left; */
        color: white;
        margin: 1px;
        /* margin-right: 10px; */
        display: inline-block;
        text-decoration-line: none;
    }
    #menu nav{
        margin: 0px;
    }
    #menu-search-button {
        float: inline-start;
    }
    .card {
        /* background-color: green; */
        width: 200px;
        height: 40%;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 35px;
        margin-right: 20px;
        display: inline-block;
        border: 1px solid black;
        /* float: left; */
    }
    .box {
        /* background-color: hotpink; */
        width: 80%;
        height: 500px;
        margin: 50px auto 0px auto;
        text-align: justify;
    }
}
@media only screen and (max-width: 425px) {
    #menu {
        /* display: block; */
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #menu li {
        position: static;
        /* float: left; */
        color: white;
        margin: 1px;
        /* margin-right: 10px; */
        display: inline-block;
        text-decoration-line: none;
    }
    #menu nav{
        margin: 0px;
    }
    #menu-search-button {
        float: inline-start;
    }
    .card {
        /* background-color: green; */
        width: 200px;
        height: 200px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 35px;
        margin-right: 20px;
        display: inline-block;
        border: 1px solid black;
        /* float: left; */
    }
    .box {
        background-color: hotpink;
        width: 80%;
        height: 950px;
        margin: 50px auto 0px auto;
        /* text-align: justify; */

        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}